:root{
	--white: #fff;
	--black: #000;
	--green: #16a085;
	--grey: #95a5a6;
}
@media only screen and (max-width: 800px){
	.form-responsive{
		display: block;
		justify-content: center;
		align-items: center;
		margin: auto;
		padding: 4rem 0;
		gap: 0;
		width: 100%;

	}
	.form-responsive>div{
	text-align: center!important;
	padding: 0!important;
	margin: auto!important;
	width: 100%;
	}
}
@media only screen and (max-width: 700px){
	html{
		font-size: 56%;
	}
	footer .down{
	display: block;
	margin: 2rem auto;
}


}
@media only screen and (max-width: 600px){
	html{
		font-size: 50%;
	}

	/*common style*/
	.grid-two{
		grid-template-columns: 1fr!important;
		text-align: center;

	}
	/*common style*/
	ul{
		position: absolute;
		display: none;
		text-align: start;
		width: 40%;
		background: var(--black);
		height: auto;
		right: 0px;
		padding: 2rem 3rem;
		top: 3rem;
		transition: .7s;
		z-index: 1000;
	}
	.navList{
		display: block;
		margin: 3rem auto;
	}
	.bars{
		display: block;
		font-size: 4rem;
		color: var(--white);
		position: absolute;
		right: 5rem;
		padding: 1rem;
		background: var(--black);

	}
	.show-list{
		display: block;
		right: 0;
	}
	.close{
		text-align: end;
		color: var(--white);
		font-size: 5rem;
		display: block;
		transition: .5s;
		}
	.close:hover{
		color: red;
	}
	/*headner*/
	.header .grid-two{
		grid-template-columns: 1fr;
		text-align: start;
	}
	.social-media {
		text-align: center;
	}
	.social-media a{
		margin-top: 1rem;
	}
	.social-media a ion-icon{
		font-size: 3.5rem;

	}
	.group-btn{
		display: block;
		text-align: center;
	}
	.group-btn .btn{
		margin: 2rem auto;
	}
	.grid-four{
		grid-template-columns: 1fr;
		text-align: center;
	}
	.grid-four>hr{
		width: 90%;
		margin: 1rem auto;
		transform: none;
		color: var(--white);
		outline: none;
		border-color: var(--white);
		border-width: .1px;
		opacity: .5;
	}
	.row{
		row-gap: 0px;
	}
}

@media only screen and (max-width: 500px){
	html{
		font-size: 45%;
	}
	header{
		padding: 0;
	}
	.section-container{
		margin: 0;
		padding:7rem 2rem;
	}
	.services .common-heading{

		margin-left: 6rem;
		margin-bottom: 2rem;
	}
	/*works*/
	.row{
		width: 100%;
		margin: 0;
		padding: 0;
		grid-template-columns: 1fr;
	}
	.row>div{
		margin: 0;
		padding-right: 6px;
	}
	/*contact*/
	.section-container.contact-container{
		padding:6rem 0rem;

	}
	.form-control{
		margin: 1rem auto;
		/*padding: 5px;*/
		width: 80%;
	}
form.form{
	padding: 0!important;
}
.form-responsive>div *{
	width: 60%;
}
	

}
